.CatalogMainContainer{
    justify-content: center !important;
}

.CardContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem !important;
}

.FilterContainer{
    padding-left: 24px;
    
}

.FilterInput{
    width: 84%;
}

.CardContainerMain{
    justify-content: flex-start;
    
}

.CardContainer{
    justify-content: center;
}

.CatalogContainerSecond{
    margin-left: 5%;
}


@media only screen and (max-width: 600px) {
   
}

@media only screen and (max-width: 960px) {
    .CardContainerMain{
        justify-content: center !important;
    }

    .FilterContainer{
        padding-left: 0% !important;
        padding-right: 0% !important;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .CatalogContainerSecond{
        margin-left: inherit;
    }
  
}

@media only screen and (max-width: 1280px) {
   
}
